<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "edu.tccd.m"
        version   = "0.9.2">
    <name>Tarrant County College Mobile</name>

    <description>
        Tarrant County College (TCC) Mobile App allows students to access registration information as well as course and program listings, academic calendar, library databases, Career Coach and the myTCC portal.
    </description>

    <author href="http://www.tccd.edu" email="web.communications@tccd.edu">
        Tarrant County College (TCC)
    </author>

    
    <icon src="icon.png" />
    <icon src="res/icon/tcc_512.png"        width="512" height="512" />
    <icon src="res/icon/tcc_android_96.png" width="96"  height="96"  gap:platform="android" />
    <icon src="res/icon/cordova_bb_80.png"      width="80"  height="80"  gap:platform="blackberry" />
    <icon src="res/icon/cordova_ios_144.png"    width="144" height="144" gap:platform="ios" />
    
    <gap:splash src="splash.png" />

    <feature name="http://api.phonegap.com/1.0/device" />
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/network"/>

    <preference name="phonegap-version" value="2.1.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
    <preference name="stay-in-webview" value="true" />
    
    <gap:plugin name="ChildBrowser" /> 

    <access origin="m.tccd.edu" browserOnly="false" />
    
    <access origin="library.tccd.edu" browserOnly="true" />
    <access origin="my.tccd.edu" browserOnly="true" />
    <access origin="www.tccd.edu" browserOnly="true" />
    <access origin="tccd.emsicareercoach.com" browserOnly="true" />
    <access origin="calendar.tccd.edu" browserOnly="true" />
    
    <access origin="code.jquery.com" browserOnly="false" />
    <access origin="static.getclicky.com" browserOnly="false" />
    <access origin="in.getclicky.com" browserOnly="false" />
    <access origin="www.google-analytics.com" browserOnly="false" />
    <access origin="www.omniupdate.com" browserOnly="false" />
    
</widget>
