<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "edu.tccd.m"
        version   = "0.1.9.0">
    <name>Tarrant County College Mobile</name>

    <description>
        Tarrant County College (TCC) Mobile App allows students to access registration information as well as course and program listings, academic calendar, library databases, Career Coach and the myTCC portal.
    </description>

    <author href="http://www.tccd.edu" email="web.communications@tccd.edu">
        Tarrant County College (TCC)
    </author>

    
    <icon src="icon.png" />
    <icon src="res/icon/cordova_android_96.png" width="96"  height="96"  gap:platform="android" />
    
    <gap:splash src="splash.png" />

    <feature name="http://api.phonegap.com/1.0/device" />
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/network"/>

    <preference name="phonegap-version" value="1.9.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
    
    <access origin="m.tccd.edu" browserOnly="false" />
    <access origin="library.tccd.edu" browserOnly="true" />
    <access origin="my.tccd.edu" browserOnly="true" />
    <access origin="www.tccd.edu" browserOnly="true" />
    <access origin="tccd.emsicareercoach.com" browserOnly="true" />
    <access origin="calendar.tccd.edu" browserOnly="true" />
    
</widget>
